html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }

      #nav {
        display: flex;
        justify-content:  space-around;
        background-color: #b3b3ff;
        text-decoration: none;
        padding-top: 15px;
        padding-bottom: 15px;
        list-style-type:none;
      }

      a:hover {
        background-color: #42f4e5;
      }
      a {
      text-decoration: none;
        }
